<html>
  <head>
    <title>Smart Garage Door Opener</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <script type="text/javascript">
    $(document).ready(function() {
      console.log("ready");

      var socket = io.connect("http://192.168.1.20:5000")

      socket.on("connect", function() {
        socket.send("connected...");
      })

    $('#toggle').on('click', function() {
      socket.send('trigger')
    })

    })</script>
    <button id="toggle" style="width: 100%; text-align: center; height: 100%; font-size: 50px">Open/Close</button>
  </body>
</html>
